.Card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  

  /* Add some padding inside the card container */
  .container {
    padding: 2px 15px;
    margin: 20px;
  }
  
  .img {
    height: 20%;
    width: auto;
  }
  